@tailwind base;
@tailwind components;
@tailwind utilities;


@layout base{
    body{
        overflow-x:hidden;
    }
}

@layer components{
    .header_top_icon{
        @apply bg-gray-200 rounded-md p-[4px] text-[12px] cursor-pointer hover:bg-accent hover:text-white
    }

    .navbar_link:hover{
        color:#FFE19C;
        transition:all 0.4s;
    }
    .navbar_link::after{
        position:absolute;
        content:"";
        background-color: #FFE19C ;
        height: 3px;
        width:100%;
        bottom:-5px;
        left:0;
        scale:0;
        transform-origin: left;
        transition:all 0.4s;
    }
    .navbar_link:hover::after{
        scale:1;
    }
}

/* body{
    background-color: #f5f5ef;
} */